.header {
  // Hamburger open menu toggle
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient($color-darkBlue, transparent);
  }

  nav {
    position: relative;
    background-color: $color-white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  // Mobile menu toggle
  &__toggle {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $color-darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  &__menu {
    position: absolute;
    width: calc(100% - 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    background: $color-white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;

    a {
      display: block;
      text-align: center;
      color: $color-darkBlue;
      padding: 0.625rem;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $fontsize-sm;
      color: $color-grayishBlue;
      transition: color 300ms ease-in-out;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        background: linear-gradient(
          to right,
          $color-limeGreen,
          $color-brightCyan
        );
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -30px;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $color-darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
