// Colors
$color-darkBlue: hsl(233, 26%, 24%);
$color-limeGreen: hsl(136, 65%, 51%);
$color-brightCyan: hsl(192, 70%, 51%);
$color-grayishBlue: hsl(233, 8%, 62%);
$color-lightGrayishBlue: hsl(220, 16%, 96%);
$color-veryLightGrayishBlue: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

// Font size
$fontsize-sm: 0.875rem; // 14px
$fontsize-med: 1.125rem; // 18px
$fontsize-lg: 1.25rem; //20px
$fontsize-xlg: 3.25rem; //52px
