@use "../globals/" as *;

button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: $medium-gray;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 0.875rem;
}

.register-btn {
  margin-top: 0.2rem;
  border: 1px solid $medium-gray;
  border-radius: 0.8rem;
}

.learn-more-btn {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  width: 8.5rem;
  height: 3.0625rem;
  border: 1px solid $almost-black;
  border-radius: 1rem;
  background-color: $almost-black;
  color: $almost-white;
  letter-spacing: -0.1px;
}

.learn-more-btn:hover {
  background-color: $almost-white;
}

.btn:hover {
  color: $almost-black;
}

.register-btn:hover {
  border-color: $almost-black;
}

@media screen and (min-width: 768px) {
  .register-btn {
    margin: 0;
    padding: 0.5rem 1.4rem;
  }

  .login-btn {
    margin-right: 2.5rem;
  }

  .learn-more-btn {
    margin-top: 1.6rem;
    font-size: 1.125rem;
    width: 10.2rem;
    height: 3.54rem;
  }
} ;
